*{
	margin: 0px;
	padding: 0px;

}
body{
	background-image: url("../img/ceu.jpg");
	background-repeat: no-repeat;
	color: white;
	font-family: arial;
	background-size: 1370px 700px;
	/* o no repeat faz com que a imagem nao se qubre em varias, depois tem que ir ajustando o tamanho*/
}
input{
	display: block;
	width: 400px;
	height: 55px;
	margin: 5px;
	border-radius: 30px;
	border: 1px solid black;
	font-size: 16pt;
	padding: 10px 20px;
	background-color: rgb(255,255,255,0.05);
	/*border-radius é redondada e o margin de 10 px separa todos os input(inteligente), 0.05 da transparencia no input*/
}
input:hover{
	border-color: white;
}
div#corpo-form{
	width: 420px;
	margin: 130px auto 0px auto;
	/*150 altura em cima, automatico no lado, 0 em baixo, automatico do outro lado, centralizando o form*/
}
div#corpo-form-cad{
	width: 420px;
	margin: 90px auto 0px auto;
	/*150 altura em cima, automatico no lado, 0 em baixo, automatico do outro lado, centralizando o form*/
}
div#corpo-form h1, div#corpo-form-cad h1 {
	text-align: center;
	padding: 20px;
}
a{
	color: white;
	text-decoration: none;
	text-align: center;
	display: block;
	/*só o text align nao funcionario pq por padrao o display é inline, precisa altera o display*/
}
a:hover{
     text-decoration: underline;
 } 
 input[type=submit]{
          background-color: #e0dffd;
          opacity: 50%;
          cursor: pointer;
     /*cursor pointer é para aparecer uma maozinha quando o mouse for no botao */     
 }   

 div#msg-sucesso{
 	width: 400px;
 	margin: 10px auto;
 	padding: 10px;
 	background-color: rgba(197, 245, 197, 0.3);
 	border: 1px solid rgb(34,139,34);
 }
  div#msg-erro{
 	width: 400px;
 	margin: 10px auto;
 	padding: 10px;
 	background-color: rgba(245, 169, 160, 0.3);
 	border: 1px solid rgb(165,42,42);
 }